<div class="card mt-2">
    <div class="card-body">
      <div class="row gx-5">
        <div class="col-3">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Show Reel Name</th>
                <td scope="row">First</td>
              </tr>
              <tr>
                <th scope="row">Video Standard</th>
                <td>Mark</td>
              </tr>
              <tr>
                <th scope="row">Video Definition</th>
                <td>Jacob</td>
              </tr>
              <tr>
                <th scope="row">Total Duration</th>
                <td colspan="2">Larry the Bird</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-9">
          <div class="p-3 border bg-light">
            <table class="table">
              <thead>
                <tr>
                  <th>Clip Name</th>
                  <th>Clip Description</th>
                  <th>Video Standard</th>
                  <th>Video Definition</th>
                  <th>Start Time Code</th>
                  <th>End Time Code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Clip Name</td>
                  <td>Clip Description</td>
                  <td>Video Standard</td>
                  <td>Video Definition</td>
                  <td>Start Time Code</td>
                  <td>End Time Code</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>