<div class="container px-4">
    <div class="light row gx-5">
      <div class="col p-3">
        <a type="button" class="btn btn-primary"  routerLink="/new-show-reel" 
        routerLinkActive="active" ariaCurrentWhenActive="page">
            Let's create a new show reel
        </a>
      </div>
    </div>
    <div class="row gx-5">
      <div class="col p-3">
        Show Reels
      </div>
    </div>
  
<div class="row" *ngFor="let showReel of showReels">
  <app-show-reel-information [showReel]="showReel"></app-show-reel-information>
</div>
    
    
</div>